* {
  font-family: 'DM Sans', sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.main-text {
  margin: 1rem 0;
  text-align: center;
}

.row {
  display: flex;
}

.column {
  width: 20%;
  padding: 0 1rem 0 0;
  margin: auto;
  overflow: hidden;
}

.column > img {
  width: 100%;
  margin: 0 -5px 0 -5px;
}

p {
  font-weight: 400;
}

span.grey-color {
  color: lightgray;
}

span.on-sale {
  background-color: rgba(255, 204, 191, 0.514);
  border: 0 solid;
  border-radius: 5px;
  padding: 0 2px;
}
