* {
  font-family: 'DM Sans', sans-serif;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
}

.shade {
  position: absolute;
  background-color: rgba(168, 168, 168, 0.125);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

.main-text {
  margin: 1rem 0;
  text-align: center;
}

.grey-color {
  color: lightgray;
}

.all-img {
  display: flex;
}

.imges {
  width: 20%;
  padding: 0 1rem 0 0;
  margin: auto;
  overflow: hidden;
}

img {
  width: 100%;
  margin: 0 -5px 0 -5px;

  /* object-fit: cover;
  object-position: 20% 10%; */
}

.product-info {
  display: flex;
}

.price-type {
  width: 20%;
}

p {
  font-weight: 400;
}
