.dark-container {
  background-color: rgb(27, 27, 27);
}

.dark {
  margin: auto;
  margin-top: 30vh;
  background: rgb(41, 41, 41);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  box-shadow: -0.25rem -0.5rem black, 0.25rem -0.5rem black;
}

.light-container {
  background-color: rgb(255, 254, 224);
}

.light {
  margin: auto;
  margin-top: 30vh;
  background: rgb(255, 243, 81);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  box-shadow: 4px 4px rgba(255, 196, 33, 0.1), -4px -4px rgba(255, 196, 33, 0.1), 4px -4px rgba(255, 196, 33, 0.1), -4px 4px rgba(255, 196, 33, 0.1);
}
