* {
  background-color: rgb(72, 72, 196);
}

.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 70px;
  margin-left: 2px;
  margin-right: 2px;
  color: #F5F5F5;
}

.correct {
  color: #29aa3a;
}
