* {
  background-color: rgb(72, 72, 196);
  font-family: 'RocknRoll One', sans-serif;
}

.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 70px;
  margin-left: 2px;
  margin-right: 2px;
  color: #F5F5F5;
}

.correct {
  color: #29aa3a;
}

.incorrect {
  color: rgb(129, 59, 59);
}

@media screen and (max-width: 1300px) {
  .text {
    font-size: 40px;
    margin-left: 1px;
    margin-right: 1px;
  }
}
