body {
  font-family: Avenir, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Tiempos Headline', sans-serif;
}

/* START NAVIGATION BAR */
.mainContainer {
  max-width: 80%;
  margin: auto;
}

.clinicContainer {
  background-color: #fbfdfd;
}

.navContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0;
}

.navHalf {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.navLink {
  width: calc(100% / 5);
  margin: auto;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none !important;
  color: #5a5a5a;
}

.navLinkButton {
  background-color: #004f6f;
  border: 0 solid #004f6f;
  padding: 0.8rem;
  border-radius: 3.75px;
  cursor: pointer;
  margin-right: 2rem;
}

.navLinkButton > a {
  color: white;
}

.logoForNav {
  width: 50%;
  height: auto;
  margin-left: 3rem;
}

/* END NAVIGATION BAR */

/* START FOOTER FOR TERMS */
.termsContainer {
  background: #f4f4f4;
  color: #5a5a5a;
  width: 100%;
  display: flex;
  padding: 2.5rem 0;
  padding-left: 3rem;
}

.termsLink {
  font-weight: 500;
  margin-right: 3rem;
}

/* END FOOTER FOR TERMS */

/* START INFORMATION CONTAINER */

/* .infoContainer {
  background-image: url('images/hero.jpg');
  background-size: cover;
  padding-bottom: 600px;
  margin: 5rem 3rem;
  position: relative;
}

.imgShade {
  background-color: black, transparent;
  height: 100%;
  width: 100%;
}

.infoImg {
  position: absolute;
  padding-top: 5rem;
}

.infoImg > h1 {
  color: white;
  margin-left: 5rem;
}

.infoButton {
  background-color: #004f6f;
  border: 0 solid #004f6f;
  padding: 0.8rem 2.2rem;
  border-radius: 3.75px;
  cursor: pointer;
  margin-left: 5rem;
}

.infoButton > a {
  color: white;
}

.infoImg > p {
  margin-left: 5rem;
  color: white;
} */

/* END INFORMATION CONTAINER */

/* START OF LEARN CONTAINER */

.learnContainer {
  display: flex;
  color: #5a5a5a;
}

.learnText {
  width: 50%;
  padding-left: 100px;
}

.learnButton {
  width: 50%;
  position: relative;
}

.lrnButton {
  background-color: #004f6f;
  border: 0 solid #004f6f;
  padding: 0.8rem 2.2rem;
  border-radius: 3.75px;
  cursor: pointer;
  position: absolute;
}

.lrnButton > a {
  color: white;
}

/* END OF LEARN CONTAINER */
