body {
  font-family: Avenir, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Tiempos Headline', sans-serif;
}

.mainContainer {
  max-width: 60%;
  margin: auto;
}

/* START NAVIGATION BAR */

.navContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0;
}

.navHalf {
  display: flex;
  flex-wrap: wrap;
  width: 46.5%;
}

.navHalfTwo {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.navLink {
  width: 18%;
  margin: auto;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none !important;
  color: #5a5a5a;
}

li > a {
  color: white;
}

.navLinkButton {
  background-color: #004f6f;
  border: 0 solid #004f6f;
  padding: 0.8rem;
  border-radius: 3.75px;
  cursor: pointer;
}

.navLinkButton > a {
  color: white;
}

.logoForNav {
  width: 50%;
  height: auto;
  margin-left: 3rem;
}

/* END NAVIGATION BAR */

/* START FOOTER FOR TERMS */

.termsContainer {
  background: #f4f4f4;
  color: #5a5a5a;
  width: 100%;
  display: flex;
  padding: 2.5rem 0;
  padding-left: 3rem;
}

.termsLink {
  font-weight: 500;
  margin-right: 3rem;
}

/* END FOOTER FOR TERMS */

/* START INFORMATION CONTAINER */

.infoContainer {
  height: 60vh;
  width: 100%;
  padding: 3rem 3rem;
  margin-bottom: 1rem;
}

.infoImg {
  background-image: url(images/hero.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.imgShade {
  background-color: rgba(59, 59, 59, 0.226);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.infoText {
  position: absolute;
  color: white;
  top: 4rem;
  left: 4rem;
}

.infoText > p {
  line-height: 1.5rem;
}

.infoButton {
  background-color: #004f6f;
  border: 0 solid #004f6f;
  padding: 0.8rem 2.2rem;
  border-radius: 3.75px;
  cursor: pointer;
  margin-top: 1rem;
}

.infoButton > a {
  color: white;
}

/* END INFORMATION CONTAINER */

/* START OF LEARN CONTAINER */

.learnContainer {
  display: flex;
  color: #5a5a5a;
}

.learnText {
  width: 50%;
  padding-left: 3rem;
}

.learnButton {
  width: 50%;
  position: relative;
}

.lrnButton {
  background-color: #004f6f;
  border: 0 solid #004f6f;
  padding: 0.8rem 2.2rem;
  border-radius: 3.75px;
  cursor: pointer;
  position: absolute;
  right: 3rem;
  top: 1.5rem;
}

.lrnButton > a {
  color: white;
}

/* END OF LEARN CONTAINER */

/* START OF CLINIC CONTAINER */

.clinicContainer {
  background-color: #f4f4f4;
  color: #5a5a5a;
}

.clinicRowOne {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.clinicRowTwo {
  display: flex;
  padding-bottom: 5rem;
}

.clinicLocOne {
  width: 50%;
  text-align: center;
  padding-left: 3rem;
}

.clinicLocTwo {
  width: 50%;
  text-align: center;
  padding-right: 3rem;
}

/* END OF CLINIC CONTAINER */

/* START SITEMAP */

.mapContainer {
  background-color: #5a5a5a;
  color: white;
  display: flex;
  padding: 4rem;
}

ul {
  list-style-type: none;
}

.mapCol > img {
  width: 45%;
}

.mapCol > p {
  padding-top: 1rem;
}

.mapRow {
  width: 50%;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.mapRowTwo {
  display: flex;
  width: 50%;
  line-height: 2rem;
}

.mapCol {
  width: 50%;
  padding-top: 1.2rem;
}

.mapColTwo {
  width: 50%;
}

/* END SITEMAP */
